<ng-container *ngIf="{ textContent : (textContent$ | async)  ?? '' } as streams">
    <div class="flex flex-col gap-4 text-dark">
        <div
            (click)="back.emit()"
            class="flex items-center gap-2 text-dark cursor-pointer hover:text-primary"
        >
            <svg-icon
                [src]="'assets/icons/arrow-back.svg'"
                [svgStyle]="{ 'height.px': 20, 'width.px': 20  }"
            ></svg-icon>
            <span class="text-base font-medium">Return</span>
        </div>
        <ng-content></ng-content>
        <pre
            class="border secondary-border-color rounded-md p-2 max-h-64 overflow-y-auto text-sm whitespace-pre-wrap">{{ streams.textContent || 'Select inner element to retrieve text' }}</pre>
        <button
            [disabled]="!streams.textContent"
            [cdkCopyToClipboard]="streams.textContent"
            (cdkCopyToClipboardCopied)="copied()"
            class="h-11 p-0 px-4 w-full bg-primary text-white hover:opacity-90 text-sm font-medium rounded-md"
        >
            Copy to clipboard
        </button>
    </div>
</ng-container>