<div class="flex flex-col gap-4 text-dark">
    <ng-content></ng-content>
    <div class="flex flex-col gap-2">
        <app-action-button
            [action]="action.ClickOnSelectedElements"
            [disabled]="!selectedElements.length"
        >
        </app-action-button>
        <app-action-button
            [action]="action.FillForms"
            [disabled]="!selectedElements.length"
        >
        </app-action-button>
        <app-action-button [action]="action.ToggleSelectionMode">
        </app-action-button>
        <app-action-button
            [action]="action.GetTextContent"
            [disabled]="!selectedElements.length"
        >
        </app-action-button>
    </div>
</div>